// Settings

$img: "../images/";
$default_line_height: 1.4;

// Font family
$open_sans:   'Open Sans ', sans-serif;
$arial:       'Arial', sans-serif;
$pt_sans:     'PT Sans', sans-serif;
$raleway:     'Raleway', sans-serif;
$roboto_c:    'Roboto Condensed', sans-serif;

// Font sizes

$regular_font_size: 16px;
$title_font_size:   30px;

// Colors

$black:         #3e3e3e;
$white:         #fff;
$white2:        #f1f1f1;
$white3:        #f7f8fa;
$gray:          #9e9e9e;
$gray2:         #ededed;
$gray3:         #999999;
$gray4:         #efefef;
$light-gray:    #dedede;
$dark-gray:     #333;
$dark-gray2:    #41525c;
$orange:        #ff6a00;
$blue:          #0090cd;
$linger-blue:   #b0e8fe;
$light-blue:    #299fcd;
$light-blue2:   #99ccff;
$dark-blue:     #00a5d3;
$dark-green:    #2c3d46;
$dark:          #00212e;

$colors: (gray $gray) (black $black);

// Bootstrap 4 Grid

$enable-grid-classes:       true !default;
$enable-flex:               false !default;

@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // Do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}



// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width-base:     30px !default;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
) !default;
